<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="../../Scripts/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
	<script src="../../Scripts/jquery-1.4.4.min.js" type="text/javascript"></script> 
    <script src="../../Scripts/ui/jquery.ui.widget.js" type="text/javascript"></script> 
    <script src="../../Scripts/ui/jquery.ui.core.js" type="text/javascript"></script>
    <script src="../../Scripts/ui/jquery.ui.tabs.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../../Content/demos.css" type="text/css"/>
	<script type ="text/javascript">
	    $(function () {
	        $("#tabs").tabs();
	    });
	</script>
    
    <script type ="text/javascript">
	    $(function () {
	        $("#righttabs").tabs();
	    });
	</script>
</head>

<body>
    <div class="demo">

        <div id="header">
            <div id="title">
                <h1>Kallivayalil</h1>
            </div>               
        </div>

         <div id="tabs" >
              <ul>
	            <li><a href="#tabs-1">Our Family</a></li>
	            <li><a href="#tabs-2">Products</a></li>
	            <li><a href="#tabs-3">Contact Us</a></li>
             </ul>
        

         <div id="tabs-1">
                @RenderBody()            
         </div>
          
         <div id="tabs-2">
            tab 2
         </div> 
         
         <div id="tabs-3">
         tab 3
         </div>
         </div> 
       
    </div>
</body>
</html>
