<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="../../Content/mytheme/styles.css" type="text/css" />
	<!--link href="../../Scripts/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" /-->		     
    <script type="text/javascript" src="../../Content/mytheme/js/jquery.js"></script>
    <script type="text/javascript" src="../../Content/mytheme/js/slider.js"></script>
    <script type="text/javascript" src="../../Content/mytheme/js/superfish.js"></script>
    <script type="text/javascript" src="../../Content/mytheme/js/custom.js"></script>

</head>

<body class ="homepage">
    <div class="container">

    <div id="header">
    	<h1><a href="/"><strong>Kallivayalil</strong></a></h1>
        <h2>Our family meets here!</h2>
        <div class="clear"></div>
    </div>
  
   

     <div id="nav">
    	<ul class="sf-menu dropdown">
	            <li  class="selected"><a href="#tabs-1">Our Family</a></li>
	            <li><a href="#tabs-2">Products</a></li>
	            <li><a href="#tabs-3">Contact Us</a></li>
        </ul>

       <div id="slides-container" class="slides-container">
        <div id="slides">
            <div>
                <div >
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque venenatis sagittis enim. Maecenas ligula erat, egestas congue, varius nec, sagittis nec, purus. In neque.</p>
                </div>
            </div>
            
            <div>
            	<h2>Have fun with slides!</h2>
                <p>These slides can contain anything a webpage can! HTML, Javascript, images, flash or whatever! They're completely easy to edit and add to as well, no need to bother editing or even going anywhere near some confusing Javascript files, simply add a &lt;div&gt;&lt;/div&gt; tag with your slider content to the "slides" contain - it takes just seconds to do!</p>
                <p>These slides work using the absolutely wonderful lightweight jQuery plugin <a href="http://plugins.jquery.com/project/jFlow">jFlow</a>, originally written by Kean Loong and modified by both Mauro Belgiovine and spyka Webmaster. The script has been licensed under the open source MIT license, so feel free to play around and modify it as much or as little as you wish!</p>
            </div>
            
            <div>
                <div>
                    <h2>Slide #3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque venenatis sagittis enim. Maecenas ligula erat, egestas congue, varius nec, sagittis nec, purus. In neque. Curabitur at metus tincidunt dui tristique molestie. Donec porta molestie tortor. Fusce euismod consectetuer sapien. Fusce ac velit.</p>
                </div>
            </div>
		</div>
        <div class="controls"><span class="jFlowNext"><span>Next</span></span><span class="jFlowPrev"><span>Prev</span></span></div>        
        <div id="myController" class="hidden"><span class="jFlowControl">Slide 1</span><span class="jFlowControl">Slide 1</span><span class="jFlowControl">Slide 1</span></div>
    </div>

        
         </div> 

          <div id="body">            
		<div id="content">
            <div class="box">

             <div id="tabs-1">
                @RenderBody()            
         </div>
          
         <div id="tabs-2">
            tab 2
         </div> 
         
         <div id="tabs-3">
         tab 3
         </div>
            </div>
               
        </div>
        
        <div class="sidebar">
            <ul>	
               <li>
                    <h4><span>Our <strong>Pages</strong></span></h4>
                    <ul class="blocklist">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="examples.html">Examples</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Solutions</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </li>
                
                <li>
                    <h4><span>About <strong>Us</strong></span></h4>
                    <ul>
                        <li>
                        	<p style="margin: 0;">Aenean nec massa a tortor auctor sodales sed a dolor. Duis vitae lorem sem. Proin at velit vel arcu pretium luctus.</p>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <h4 class="h4"><span>Cool <strong>Sites</strong></span></h4>
                    <ul>
                        <li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates"><strong>ThemeForest</strong></a> - premium HTML templates, WordPress themes and PHP scripts</li>
                        <li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting"><strong>Web hosting</strong></a> - 50 dollars off when you use promocode <strong>awesome50</strong></li>
                        <li><a href="http://www.4templates.com/?aff=spykawg" title="4templates"><strong>4templates</strong></a> - brilliant premium templates</li>
                    </ul>
                </li>
                
            </ul> 
        </div>
    	<div class="clear"></div>
    </div>
       
    </div>

    
</body>
</html>
