@model Website.Models.Constituent
<p>
 Welcome @Model.Name.PreferedName
</p>

@section RightSideBar
{
<div>
  @Html.ActionLink("Phone", "Index", "Phone", new { }, new { }) <br>
  @Html.ActionLink("Email", "Index", "Email", new { }, new { })
  </div>
}
     
<fieldset>
    <legend>Constituent</legend>

     <div class="display-label">FirstName:@Model.Name.FirstName</div>

    <div class="display-label">MiddleName:@Model.Name.MiddleName</div>

    <div class="display-label">LastName:@Model.Name.LastName</div>

    <div class="display-label">PreferedName:@Model.Name.PreferedName</div>

    <div class="display-label">Salutation:@Model.Name.Salutation.Description</div>

    <div class="display-label">Gender:@Model.Gender</div>

    <div class="display-label">BranchName:@Model.BranchName</div>

    <div class="display-label">HouseName:@Model.HouseName</div>

    <div class="display-label">BornOn:@String.Format("{0:g}", Model.BornOn)</div>

    <div class="display-label">DiedOn:@String.Format("{0:g}", Model.DiedOn)</div>

    <div class="display-label">HasExpired:@Model.HasExpired</div>

    <div class="display-label">MaritialStatus:@Model.MaritialStatus</div>

    <div class="display-label">IsRegistered:@Model.IsRegistered</div>

</fieldset>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

