<div>
<h3> Our Origin</h3>
<p>
Around the time that the Bharananganam church was established, there were four prominent Christian families living along the banks of the 
Meenachil River. They were the Aakan, Arackal, Choonda, and Brattiani families. These families became Christians in Kodungallur 
and came to stay initially at the Thalikotta near Kottayam. From Thalikotta they moved to Bharanganam at the invitation 
of the ruling Kartha of Meenachil. 
</p>

<p>
The Namboodiris living at Bharananganam approached the Meenachil Kartha for permission to bring a Christian (Mappila)
to live near the temple to purify the temple oils. With the consent of the Meenachil Kartha, the Namboodiris met the head of the Arackal family.
Subsequently the eldest son of the Arackal family came to stay near the temple at Bharananganam in the property known as Kovil Kattu.
This "Kovil Kattu" gradually became "Kokakattu" and the eldest son of the Arackal family who came to stay at Kovil Kattu is the first Karnavar 
of the Kokkattu family. He enjoyed great influence and favour with the Meenachil Kartha and received various honours from the Kartha 
including the title of Tharakan and was allowed the "Veerasringala", the "Amsavadi",and the "Koothuvilkku".
</p>
<p>
Kokkattu Karnavar had two sons. The elder moved to Thekkey Attam. This Thekkay Attam familyis the source of families such as 
</p>

 <ul class="styledlist">
                    <li>Aiypenparambilkunnel</li>
                    <li>Chalil</li>
                    <li>Pala Kootiyani</li>
                    <li>Nellikunnel</li>
                    <li>Erathukunnel</li>
                    <li>Thuruthippara</li>
                    <li>Tharapel</li>
                    <li>Kinattukara</li>
                </ul>

<p>
The son who stayed at the Tharavadu had two sons and a daughter. The daughter was married into the Thoonkuzhiyil family. 
The elder son moved to Kandathil and this Kandathil family is the source of the Kalariparambil, Kottarathin Kuzhi, Punnathanathu, 
Alakalathil, Chavarpuzha, Palakudiyil and Kalapurackal families.
</p>
<p>
The second son, Ittyavira Kuruvilla, had four sons and two daughters. The daughters were married into the Olickal and Perekattu families.
The eldest of the sons, Ittyavira Chacko married from the Kizhakethalackal family and moved to Kallivayalil in Vilakkumadom.He had two sons of 
the elder, Ittyavira Punnoose married from Tharappel. He had no children. The younger son Ittyavira Ittyavira married four times. 
From the third marriage, from Uppumakel, he had a son, Ittyavira Chacko, who moved to Kondooparambil. From the fourth marriage he had two sons 
of whom the elder, Michael (Mikhail), stayed at Kallivayalil and the younger, Joseph, moved to Anavalaril.
</p>

<p>
This brings us to the Kallivayalil family in its present main divisions of Kondooparambil, Kallivayalil and Anavalaril and connects with the
survey of the roots written by Shri K.J. Joseph Kallivayalil.
</p>

<blockquote><p>
The information has been extracted from a brief survey of the history of the Kokkattu Family written by Shri Abraham Kuruvilla, 
Kokkattu Kanjirathunkal. Shri Kuruvilla states that the survey is based on the input gathered from consultations with the senior members of 
various families such as Parekattu, Olickal, Perekattu, Kalariparambil, Pulikunnel, and Kallivayalil. This includes material not available 
in account given by Shri. K.J. Joseph Kallivayalil.
</p></blockquote>
</div>