           <script type="text/javascript">

               $(function () {

                   $('#eventsSidebar').addClass('sidebar-hidden');

                   var $items = $('#vtab>ul>li');

                   $items.mouseover(function () {

                       $items.removeClass('selected');

                       $(this).addClass('selected');

                       var index = $items.index($(this));

                       $('#vtab>div').hide().eq(index).show();

                   }).eq(1).mouseover();

               });

               $(document).ready(function () {
                   $("#report tr:odd").addClass("odd");
                   $("#report tr:not(.odd)").hide();
                   $("#report tr:first-child").show();

                   $("#report tr.odd").click(function () {
                       $(this).next("tr").toggle();
                       $(this).find(".arrow").toggleClass("up");
                   });
                   //$("#report").jExpand();
               });

    </script>


            <div id="vtab">

        <ul>

            <li class="home selected"></li>

            <li class="login"></li>

            <li class="support"></li>

        </ul>

        <div>

            <h4>

                Welcome Home!</h4>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum tincidunt

            metus, vitae porta elit mollis eget. Sed id nisl nec lorem tincidunt sodales. Etiam

            a dolor tellus, vel rhoncus ligula? Duis adipiscing vehicula urna ut pellentesque!

            Duis eleifend lacinia diam a rhoncus. Integer viverra dolor eget eros consequat

            facilisis. Curabitur dignissim dignissim lacinia!

            <br />

            <br />

            Sed bibendum velit et magna placerat bibendum. Donec vitae leo ante. Nulla semper

            dapibus felis et luctus. Donec congue, lectus eget ullamcorper sagittis, orci enim

            aliquam risus, eget adipiscing quam neque sed eros. Donec commodo nisi varius augue

            lacinia pharetra. Cras lacinia fermentum luctus. Nunc venenatis commodo lorem, vitae

            pulvinar neque dignissim sed. Proin blandit rhoncus risus, sit amet eleifend quam

            eleifend sed.

        </div>

        <div>

            <h4>

                Secure Login</h4>

            <form id="loginForm" action="">

            <fieldset>

                <legend>You need to sign in with your Email & Password to continue.</legend>

                <div>

                    <label for="email">

                        Email:</label>

                    <input type="text" name="email" id="email" />

                </div>

                <div>

                    <label for="password">

                        Password:</label>

                    <input type="password" name="password" id="password" />

                </div>

                <div>

                    <input id="login" type="submit" value="Fake Login" />

                </div>

            </fieldset>

            </form>

        </div>

        <div>

            <h4>

                Online Support</h4>


         
@(Html.Telerik().Grid<Website.Models.Phone>()
        .Name("Grid")
        .DataKeys(keys => 
        {
            keys.Add(p => p.Id);
        })
                    .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.Image).ImageHtmlAttributes(new { style = "margin-left:0" }))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("Index", "Phone")
                .Insert("Create", "Phone")
                .Update("Edit", "Phone")
                .Delete("Delete", "Phone");
        })
        .Columns(columns =>
        {
            columns.Bound(p => p.Type.Description).Width(210);
            columns.Bound(p => p.Number).Width(130);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            }).Width(180).Title("Commands");
        })
                .Editable(editing => editing.Mode(GridEditMode.InLine))
        .Scrollable()
        .Sortable()
)

        </div>

    </div>


