           <script type="text/javascript">

               $(function() {

                   $('#eventsSidebar').addClass('sidebar-hidden');

                   var $items = $('#vtab>ul>li');

                   $items.click(function() {

                       $items.removeClass('selected');

                       $(this).addClass('selected');

                       var index = $items.index($(this));

                       $('#vtab>div').hide().eq(index).show();

                   }).eq(0).click();

               });

               $(document).ready(function() {
                   $("#report tr:odd").addClass("odd");
                   $("#report tr:not(.odd)").hide();
                   $("#report tr:first-child").show();

                   $("#report tr.odd").click(function() {
                       $(this).next("tr").toggle();
                       $(this).find(".arrow").toggleClass("up");
                   });
                   //$("#report").jExpand();
               });

    </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/Type.js")"> </script>
<div>
<div id="profile">

@{ Html.RenderAction("Index","Constituent"); } 
</div>
<div id="vtab">

    <ul>
        <li class="address"></li>
        <li class="email"></li>
        <li class="phone"></li>
        <li class="educationDetail"></li>
        <li class="occupation"></li>
    </ul>
    <div>
        <h4>Addresses</h4>
        @{ Html.RenderAction("Index","Address"); }
    </div>
    <div>
        <h4>Emails</h4>
        @{ Html.RenderAction("Index","Email"); }
    </div>
    <div>
        <h4>Phones</h4>
         @{ Html.RenderAction("Index","Phone"); }
    </div> 
    <div>
        <h4>EducationDetails</h4>
         @{ Html.RenderAction("Index","EducationDetail"); }
    </div>
     <div>
        <h4>Occupations</h4>
         @{ Html.RenderAction("Index","Occupation"); }
    </div>

</div>

</div>


