           <script type="text/javascript">

               $(function() {

                   $('#eventsSidebar').addClass('sidebar-hidden');

                   var $items = $('#vtab>ul>li');

                   $items.click(function() {

                       $items.removeClass('selected');

                       $(this).addClass('selected');

                       var index = $items.index($(this));

                       $('#vtab>div').hide().eq(index).show();

                   }).eq(0).click();

               });

    </script>

<style type="text/css">
    fieldset {
	padding : 4px 5px 33px 3px;
}
</style>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/Type.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/constituent.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/profile.js")"></script>
<div>
<div id="profile">

@{ Html.RenderAction("Index","Constituent"); } 
</div>
 <div class="profileTab">
  <ul  id="accordion">	
    <li>
            <h4><a href="#" onclick="click('address')"><span>Contact Details</span></a></h4>
            <div id="vtab">

    <ul>
        <li class="address"></li>
        <li class="email"></li>
        <li class="phone"></li>
    </ul>
    <div>
        <h3>Addresses</h3>
        @{ Html.RenderAction("Index","Address"); }
    </div>
    <div>
        <h3>Emails</h3>
        @{ Html.RenderAction("Index","Email"); }
    </div>
    <div>
        <h3>Phones</h3>
         @{ Html.RenderAction("Index","Phone"); }
    </div> 
    
</div>
    </li>
     <li>
            <h4><a href="#" onclick="click('educationDetail')"><span>Education</span></a></h4>
<div id="vtab">

    <ul>
        <li class="educationDetail"></li>
        <li class="occupation"></li>
    </ul>
    <div>
        <h3>EducationDetails</h3>
         @{ Html.RenderAction("Index","EducationDetail"); }
    </div>
    
     <div>
        <h3>Occupations</h3>
         @{ Html.RenderAction("Index","Occupation"); }
    </div>
</div>
    </li>
     <li>
            <h4><a href="#" onclick="click('relationship')" ><span>Relationship</span></a></h4>
<div id="vtab">

    <ul>
        <li class="relationship"></li>
    </ul>
   <div>
        <h3>Relationships</h3>
         @{ Html.RenderAction("Index","Relationship"); }
    </div>
    
</div>  
    </li>
</ul>
</div>
</div>


