<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/search.js")"></script>
<div id="test">

<div class="form_tags"><input id="t2" type="text" /></div>
<div class="form_tags"><input id="t1" type="text" /></div>
<select id="search">
  <option value="FirstName">FirstName</option>
  <option value="LastName">LastName</option>
</select>
<input id="t3" type="submit" onclick="add()" value ="Add"/>
<input id="searchBtn" type="submit" onclick="search()" value ="Search"/>


@(Html.Telerik().Grid<Website.Models.Constituent>()
        .Name("ConstituentsGrid")
        .DataKeys(keys => keys.Add(p => p.Id)) 
        .Columns(c=>
            c.Bound(p=>p.Gender)
            )
        .ClientEvents(events => events
                .OnDataBinding("onDataBinding")
        )
        .DetailView(details => details.ClientTemplate(
                Html.Telerik().TabStrip()
                    .Name("TabStrip_<#= Id #>")
                    .SelectedIndex(0)
                    .Items(items =>
                    {
                        items.Add().Text("Addresses").Content(
                                Html.Telerik().Grid<Website.Models.Address>()
                                    .Name("Addresses_<#= Id #>")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.Line1);
                                        columns.Bound(p => p.Line2);
                                        columns.Bound(p => p.City);
                                        columns.Bound(p => p.State);
                                        columns.Bound(p => p.Country);
                                        columns.Bound(p => p.PostCode);
                                    })
                                     .DataBinding(dataBinding => dataBinding.Ajax()
                                        .Select("AllAddresses", "Search", new { constituentId = "<#= Id #>" }))
                                    .Pageable()
                                    .Sortable()
                                    .Filterable()
                                    .ToHtmlString());
                        items.Add().Text("Phones").Content(
                               Html.Telerik().Grid<Website.Models.Phone>()
                                   .Name("Phones_<#= Id #>")
                                   .Columns(columns =>
                                   {
                                       columns.Bound(p => p.Number);
                                   })
                                    .DataBinding(dataBinding => dataBinding.Ajax()
                                       .Select("AllPhones", "Search", new { constituentId = "<#= Id #>" }))
                                   .Pageable()
                                   .Sortable()
                                   .Filterable()
                                   .ToHtmlString());
                    }).ToHtmlString()))
             .Sortable()
                    
          )

</div>


