<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/search.js")"></script>
<div id="test">

<div class="form_tags"><input id="t2" type="text" /></div>
<div class="form_tags"><input id="t1" type="text" /></div>
<select id="search">
  <option value="FirstName">FirstName</option>
  <option value="LastName">LastName</option>
</select>
<input id="t3" type="submit" onclick="add()" value ="Add"/>
<input id="searchBtn" type="submit" onclick="search()" value ="Search"/>


@(Html.Telerik().Grid((Website.Models.Constituents)ViewData["Constituents"])
        .Name("ConstituentsGrid")
        .DataKeys(keys => keys.Add(p => p.Id)) 
        .Columns(c=>
            c.Bound(p=>p.Gender)
            )
        .Sortable()
          )

        </div>