<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/search.js")"></script>
        <script type="text/javascript">

            $(function () {

                $('#eventsSidebar').addClass('sidebar-hidden');

                var $items = $('#vtab>ul>li');

                $items.click(function () {

                    $items.removeClass('selected');

                    $(this).addClass('selected');

                    var index = $items.index($(this));

                    $('#vtab>div').hide().eq(index).show();

                }).eq(0).click();

            });

    </script>

<div id="test">




@(Html.Telerik().Grid<Website.Models.Constituent>()
        .Name("ConstituentsGrid")
         .ToolBar(toolBar => toolBar.Template( @<text>
            <input id="t1" type="text" />
            <select id="search">
              <option value="FirstName">FirstName</option>
              <option value="LastName">LastName</option>
              <option value="PreferedName">PreferedName</option>
              <option value="Phone">Phone</option>
              <option value="Email">Email</option>
              <option value="OccupationName">OccupationName</option>
              <option value="OccupationDescription">OccupationDescription</option>
              <option value="InstituteName">InstituteName</option>
              <option value="InstituteLocation">InstituteLocation</option>
              <option value="Qualification">Qualification</option>
              <option value="YearOfGraduation">YearOfGraduation</option>
              <option value="Address">Address</option>
              <option value="State">State</option>
              <option value="City">City</option>
              <option value="Country">Country</option>
              <option value="Postcode">Postcode</option>
              <option value="Branch">Branch</option>
              <option value="HouseName">HouseName</option>
            </select>
            <input id="t3" type="submit" onclick="add()" value ="Add"/>
            <div class="form_tags"><input id="t2" type="text" />
            <input id="searchBtn" type="submit" onclick="search()" value ="Search"/>  </div>

        </text>))
        .DataKeys(keys => keys.Add(p => p.Id))
        .Columns(c =>
        {
            c.Bound(p => p.Name.NameString).Title("Name");
            c.Bound(p => p.Name.PreferedName);
            c.Bound(p => p.Gender);
            c.Bound(p => p.HouseName);
            c.Bound(p => p.MaritialStatus);
            c.Bound(p => p.BranchName).ClientTemplate("<#= BranchName.Description#>");
        })
        .ClientEvents(events => events
                .OnDataBinding("onDataBinding")
        )
        .DetailView(details => details.ClientTemplate(
                Html.Telerik().TabStrip()
                    .Name("TabStrip_<#= Id #>")
                    .SelectedIndex(0)
                    .Items(items =>
                    {
                        items.Add().Text("Addresses").Content(
                                Html.Telerik().Grid<Website.Models.Address>()
                                    .Name("Addresses_<#= Id #>")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.Type).ClientTemplate("<#= Type.Description#>");
                                        columns.Bound(p => p.Line1);
                                        columns.Bound(p => p.Line2);
                                        columns.Bound(p => p.City);
                                        columns.Bound(p => p.State);
                                        columns.Bound(p => p.Country);
                                        columns.Bound(p => p.PostCode);
                                    })
                                     .DataBinding(dataBinding => dataBinding.Ajax()
                                        .Select("AllAddresses", "Search", new { constituentId = "<#= Id #>" }))
                                    .Pageable()
                                    .Sortable()
                                    .Filterable()
                                    .ToHtmlString());
                        items.Add().Text("Phones").Content(
                               Html.Telerik().Grid<Website.Models.Phone>()
                                   .Name("Phones_<#= Id #>")
                                   .Columns(columns =>
                                   {
                                       columns.Bound(p => p.Type).ClientTemplate("<#= Type.Description#>");
                                       columns.Bound(p => p.Address).ClientTemplate("<#= Address.Description#>");
                                       columns.Bound(p => p.Number);
                                   })
                                    .DataBinding(dataBinding => dataBinding.Ajax()
                                       .Select("AllPhones", "Search", new { constituentId = "<#= Id #>" }))
                                   .Pageable()
                                   .Sortable()
                                   .Filterable()
                                   .ToHtmlString());
                        items.Add().Text("Emails").Content(
                               Html.Telerik().Grid<Website.Models.Email>()
                                   .Name("Emails_<#= Id #>")
                                   .Columns(columns =>
                                   {
                                       columns.Bound(p => p.Type).ClientTemplate("<#= Type.Description#>");
                                       columns.Bound(p => p.Address);
                                   })
                                    .DataBinding(dataBinding => dataBinding.Ajax()
                                       .Select("AllEmails", "Search", new { constituentId = "<#= Id #>" }))
                                   .Pageable()
                                   .Sortable()
                                   .Filterable()
                                   .ToHtmlString());
                        items.Add().Text("EducationDetails").Content(
                               Html.Telerik().Grid<Website.Models.EducationDetail>()
                                   .Name("EducationDetails_<#= Id #>")
                                   .Columns(columns =>
                                   {
                                       columns.Bound(p => p.Type).ClientTemplate("<#= Type.Description#>");
                                       columns.Bound(p => p.Qualification);
                                       columns.Bound(p => p.InstituteName);
                                       columns.Bound(p => p.InstituteLocation);
                                       columns.Bound(p => p.YearOfGraduation);
                                   })
                                    .DataBinding(dataBinding => dataBinding.Ajax()
                                       .Select("AllEducationDetails", "Search", new { constituentId = "<#= Id #>" }))
                                   .Pageable()
                                   .Sortable()
                                   .Filterable()
                                   .ToHtmlString());
                        items.Add().Text("Occupations").Content(
                               Html.Telerik().Grid<Website.Models.Occupation>()
                                   .Name("Occupations_<#= Id #>")
                                   .Columns(columns =>
                                   {
                                       columns.Bound(p => p.Type).ClientTemplate("<#= Type.Description#>");
                                       columns.Bound(p => p.OccupationName);
                                       columns.Bound(p => p.Description);
                                   })
                                    .DataBinding(dataBinding => dataBinding.Ajax()
                                       .Select("AllOccupations", "Search", new { constituentId = "<#= Id #>" }))
                                   .Pageable()
                                   .Sortable()
                                   .Filterable()
                                   .ToHtmlString());  
                        items.Add().Text("Relationships").Content(
                               Html.Telerik().Grid<Website.Models.Association>()
                                   .Name("Relationships_<#= Id #>")
                                   .Columns(columns =>
                                   {
                                        columns.Bound(p => p.Constituent.Name.NameString).Title("Name");
                                        columns.Bound(p => p.Type).ClientTemplate("<#= Type.Description#>");
                                        columns.Bound(p => p.AssociatedConstituentName).Title("Associated Name");
                                        columns.Bound(p => p.AssociatedConstituent.Name.NameString).Title("Associated Individual");
                                   })
                                    .DataBinding(dataBinding => dataBinding.Ajax()
                                       .Select("AllAssociations", "Search", new { constituentId = "<#= Id #>" }))
                                   .Pageable()
                                   .Sortable()
                                   .Filterable()
                                   .ToHtmlString());
                    }).ToHtmlString()))
                .Sortable()
            )

</div>


