<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/familytree.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jit-yc.js")"></script>

<link rel="stylesheet" href="@Url.Content("~/Content/base.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/Content/Spacetree.css")" type="text/css" media="screen" />

<script type="text/javascript">
    $(document).ready(function () {
        var constituentId =6;
        init(constituentId);
    });
</script>
<div id="center-container">
    <div id="infovis"></div>    
</div>

<div id="log"></div>
